# Python:
__pycache__/
*.py[codz]
*$py.class

# pytest:
.pytest_cache/

# OS:
.DS_Store

# venv / env:
venv/
.env/
.envr/
.venv/

# Config:
configs/*.yaml
!configs/config.yaml

# Data:
data/*
!data/README.md
!data/sample/
!data/sample/**

# Scripts:
csv_to_latex_table.py

# notebooks:
notebooks/

# Outputs:
outputs/

# Preprocess codes:
scripts/preprocess/

# Reports:
reports
